﻿@{
    Layout = null;
}
@model TokoSaya.ViewModels.VMProducts
<form asp-action="Create" method="post" id="form-validate" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="NameProduct" class="form-label">Name Product</label>
                <input class="form-control" id="NameProduct" name="NameProduct" />
            </div>
            <div class="mb-3">
                <label for="Stock" class="form-label">Stock</label>
                <input class="form-control" id="Stock" name="Stock" />
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input class="form-control" id="Price" name="Price" />
            </div>
        </div>

        <div class="col-6">

            <div class="mb-3">
                <label for="IdCategory" class="form-label">Category</label>
                @Html.DropDownList("IdCategory",
                   new SelectList(ViewBag.ListCategory, "IdCategory", "NameCategory"), "select category",
                   new { id = "IdCategory", @class = "form-control" })
            </div>

            <div class="mb-3">
                <label for="IdVariant" class="form-label">Variant</label>
                @Html.DropDownList("IdVariant",
                   new SelectList(ViewBag.listVariant, "IdVariant", "NameVariant"), "select variant",
                   new { id = "IdVariant", @class = "form-control" })
            </div>

            <div class="mb-3">
                <label for="ImageFile" class="form-label">Image</label>
                <input type="file" asp-for="ImageFile" id="ImageFile" class="form-control-file" />

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function () {
        $("#form-validate").validate({
            errorClass: "text-danger",
            rules: {
                NameProduct: {
                    required: true
                },
                Stock: {
                    required: true
                },
                Price: {
                    required: true
                },
                IdCategory: {
                    required: true
                },
                IdVariant: {
                    required: true
                }
            },
            messages: {
                NameProduct: "Please enter a Product Name",
                Stock: "Please enter a Stock",
                Price: "Please enter a Price",
                IdCategory: "Please select a Category",
                IdVariant: "Please select a Variant"
            },
            submitHandler: function (form) {
                var data = $(form).serializeArray();
                var formData = new FormData()

                debugger
                $.each(data, function (key, input) {
                    formData.append(input.name, input.value)
                })

                var file = $('#ImageFile').prop("files");
                if (file.length > 0) {
                    formData.append("ImageFile", file[0])
                }

                $.ajax({
                    url: "/Product/Create",
                    method: "post",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (respon) {
                        debugger
                        if (respon.status == "success") {
                            alert(respon.data.message)
                            $("#myModal").modal('hide')
                            window.location.reload()
                        }
                        else {
                            alert("Unsuccess : " + respon.data.messagae)
                        }

                    }
                })

            }
        })
    })


    $("#IdCategory").change(function () {
        var idCategory = $(this).val();

        $.ajax({
            url: "/Product/DataVariantAjax",
            data: { id: idCategory },
            dataType: "json",
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append("<option>select variant</option>")
                $.each(respon, function (index, res) {
                    $("#IdVariant").append("<option value='" + res.idVariant + "'>" + res.nameVariant + "</option>")
                })

            }
        })
    })
</script>