﻿@{
    Layout = null;
}

@model TokoSaya.ViewModels.VMProducts
    <div class="mb-3">
        <img class="card-img-top img-fluid" src="~/images/@Model.Image" alt="Card image cap">
    </div>
    <div class="mb-3">
        <label class="col-form-label">Name Product : </label>
        <label class="form-label">@Model.NameProduct</label>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Stock : </label>
        <label class="form-label">@Model.Stock</label>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Price : </label>
        <label class="form-label">@Model.Price</label>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Variant : </label>
        <label class="form-label">@Model.IdVariantNavigation.NameVariant</label>
    </div>
    <label class="col-form-label">Category : </label>
    <label class="form-label">@Model.IdCategoryNavigation.NameCategory</label>
    </div>

    <div class="modal-footer">
        <a class="btn btn-light" asp-action="Index">Back to list</a>

    </div>