﻿@{
    Layout = null;
}
@model TokoSaya.ViewModels.VMProducts

<form asp-action="Edit" method="post" id="form-validate" enctype="multipart/form-data">
    <input type="hidden" name="IdProduct" value="@Model.IdProduct" />

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="NameProduct" class="form-label">Name Product</label>
                <input class="form-control" id="NameProduct" asp-for="NameProduct" />
            </div>
            <div class="mb-3">
                <label for="Stock" class="form-label">Stock</label>
                <input class="form-control" id="Stock" asp-for="Stock" />
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input class="form-control" id="Price" asp-for="Price" />
            </div>
        </div>
        <div class="col-6">

            <div class="mb-3">
                <label for="IdCategory" class="form-label">Category</label>
                @Html.DropDownList("IdCategory",
                   new SelectList(ViewBag.ListCategory, "IdCategory", "NameCategory"),
                   new { id = "IdCategory", @class = "form-control" })

                @*<input class="form-control" id="IdVariant" name="IdVariant" />*@
                @*ViewBag.ListCategory*@
            </div>



            <div class="mb-3">
                <label for="IdVariant" class="form-label">Variant</label>
                @Html.DropDownList("IdVariant",
                   new SelectList(ViewBag.listVariant, "IdVariant", "NameVariant"),
                   new { id = "IdVariant", @class = "form-control" })

                @*<input class="form-control" id="IdVariant" name="IdVariant" />*@
                @*ViewBag.ListCategory*@
            </div>


            <div class="mb-3">
                <label for="IdCategory" class="form-label">Image</label>
                <br />
                @if (Model.Image != null)
                {
                    <img src="~/images/@Model.Image"
                         class="rounded-circle"
                         height="50" width="50" />
                }

                <input type="file" asp-for="ImageFile" id="ImageFile" class="form-control-file" />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function () {
        $("#form-validate").validate({
            errorClass: "text-danger",
            rules: {
                NameProduct: {
                    required: true
                }
            },
            messages: {
                NameProduct: "Please enter a Product Name"
            },
            submitHandler: function (form) {
                var data = $(form).serializeArray();
                var formData = new FormData()

                debugger
                $.each(data, function (key, input) {
                    formData.append(input.name, input.value)
                })

                var file = $('#ImageFile').prop("files");
                if (file.length > 0) {
                    formData.append("ImageFile", file[0])
                }


                $.ajax({
                    url: "/Product/Edit",
                    method: "post",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (respon) {
                        if (respon.status == "success") {
                            alert(respon.data.message)
                            $("#myModal").modal("hide")
                            window.location.reload()
                        }
                        else {
                            alert("Error :" + respon.data.message)

                        }
                    }
                })
            }
        })
    })

    $("#IdCategory").change(function () {
        var idCategory = $(this).val();

        $.ajax({
            url: "/Product/DataVariantAjax",
            data: { id: idCategory },
            dataType: "json",
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append("<option>select variant</option>")
                $.each(respon, function (index, res) {
                    $("#IdVariant").append("<option value='" + res.idVariant + "'>" + res.nameVariant + "</option>")
                })

            }
        })
    })
</script>