﻿@model TokoSaya.Web.AddOns.PaginatedList<TokoSaya.ViewModels.VMProducts>

@*<a asp-action="Create" class="btn btn-primary">Add</a>*@

<div class="row">
    <div class="col-sm-12 col-md-6">
    </div>
    <div class="col-sm-12 col-md-6">
        <div id="zero_config_filter" class="dataTables_filter">
            <form asp-action="Index" method="get" id="form-search">
                <div class="input-group">

                    Search:
                    <input type="search" class="form-control" id="searchString" name="searchString" value="@ViewData["CurrentFilter"]"
                    placeholder="" aria-controls="zero_config" />

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="submit" class="btn btn-primary" id="btn_reset">
                        <i class="fas fa-undo"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<button class="btn btn-outline-primary" role="button" id="btn_create">Add</button>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Image</td>
            <td>id</td>
            <td><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
            asp-route-currentFilter="@ViewData["CurrentFilter"]">Name Product </a> </td>
            <td>Stock</td>
            <td>Price</td>
            <td>Category / Variant</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.Image"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>@item.IdProduct</td>
                <td>@item.NameProduct</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>
                    @item.IdCategoryNavigation.NameCategory /
                    @item.IdVariantNavigation.NameVariant 
                </td>
                <td>
                    @*<a class="btn btn-primary btn_edit" asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a>*@
                    <button class="btn btn-outline-primary btn_edit" data-id="@item.IdProduct">Edit</button>
                    <button class="btn btn-outline-primary btn_detail" data-id="@item.IdProduct">Detail</button>
                    <button class="btn btn-outline-primary btn_delete" data-id="@item.IdProduct">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<p>Page @Model.PageIndex of @Model.TotalPages </p>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>
<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<style>
    .del {
        background-color: red;
        color: white;
    }
</style>
<script>
    $("#btn_reset").click(function(){
        $("#searchString").val("");
        $("#form-search").submit();
    })

    $("#btn_create").click(function(){
        $("#modal_header").removeClass("del")

        $("#myModalLabel").empty();
        $("#myModalLabel").text("Create Product");
        $("#modal_body").empty();
        $("#modal_body").load("/Product/Create");
        $("#myModal").modal("show");
    })

    $(".btn_edit").click(function(){
        var id = $(this).attr("data-id");

        $("#modal_header").removeClass("del")

        $("#myModalLabel").empty();
        $("#myModalLabel").text("Edit Product");
        $("#modal_body").empty();
        $("#modal_body").load("/Product/Edit?id=" + id);
        $("#myModal").modal("show");
    })

     $(".btn_detail").click(function(){
        var id = $(this).attr("data-id");

        $("#modal_header").removeClass("del")

        $("#myModalLabel").empty();
        $("#myModalLabel").text("Detail Product");
        $("#modal_body").empty();
        $("#modal_body").load("/Product/Detail?id=" + id);
        $("#myModal").modal("show");
    })

    $(".btn_delete").click(function(){
        var id = $(this).attr("data-id");

        $("#modal_header").addClass("del")
        $("#myModalLabel").empty();
        $("#myModalLabel").text("Delete Product");
        $("#modal_body").empty();
        $("#modal_body").load("/Product/Delete?id=" + id);
        $("#myModal").modal("show");
    })
</script>