﻿@{ Layout = null;}
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/assets/dist/css/style.min.css" rel="stylesheet">
    <script src="~/assets/libs/jquery/dist/jquery.min.js "></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader" style="display: none;">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row text-center">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(/assets/images/big/resto.jpg);">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <img src="~/assets/images/big/icon.png" alt="wrapkit">
                        <h2 class="mt-3 text-center">Sign Up for Free</h2>
                        <form class="mt-4" id="form-register">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="NameCustomer" name="NameCustomer" placeholder="your name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="Email" name="Email" placeholder="email address">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span class="text-danger" id="emailCheck"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="Password" placeholder="password">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="ReTypePassword" placeholder="ReType password">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="Address" placeholder="address">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="Phone" placeholder="phone">
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Sign Up</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Already have an account? <a asp-action="Login" asp-controller="Auth" class="text-danger">Sign In</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
    </script>


</body>
</html>


<script>

    var isValid = true;


    $("#Email").change(function () {
        var email = $(this).val();
        $("#emailCheck").text("")

        $.ajax({
            url: "/Auth/CheckEmail",
            data: { email: email },
            dataType: "json",
            success: function (respon) {
                if (respon.isValid) {
                    $("#emailCheck").text(respon.message)
                    isValid = false
                }
                else {
                    isValid = true
                }
            }
        })
    })


    $(function () {
        $("#form-register").validate({
            errorClass: "text-danger",
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true
                },
                NameCustomer: {
                    required: true
                },
                Address: {
                    required: true
                },
                Phone: {
                    required: true
                },
            },
            messages: {
                email: {
                    required: "Please enter a email",
                    email: "Please enter a valid email address"
                },
                password: "Please enter a password",
                Name: "Please enter name customer",
                Address: "Please enter address",
                Phone: "Please enter a phone"
            },
            submitHandler: function (form) {
                var data = $(form).serialize();
                if (isValid) {
                    $.ajax({
                        url: "/Auth/Register",
                        method: "post",
                        data: data,
                        dataType: "json",
                        success: function (respon) {

                            if (respon.isValid) {
                                alert(respon.message)
                                window.location.href = "/Auth/Login";
                            }
                            else {
                                alert("unsuccess : " + respon.message)
                            }


                        }
                    })
                }

            }
        })
    })
</script>