﻿@{
    Layout = null;
}

<form asp-action="Create" method="post" id="form-validate">
    <div class="mb-3">
        <label for="NameVariant" class="form-label">Name Variant</label>
        <input class="form-control" id="NameVariant" name="NameVariant" />
    </div>


    <div class="mb-3">
        <label for="IdCategory" class="form-label">Category</label>
         @Html.DropDownList("IdCategory", 
            new SelectList(ViewBag.ListCategory, "IdCategory", "NameCategory"), 
            new { id = "IdCategory", @class = "form-control" })

        @*<input class="form-control" id="IdCategory" name="IdCategory" />*@
        @*ViewBag.ListCategory*@
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input class="form-control" id="Description" name="Description" />
    </div>

    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function(){
        $("#form-validate").validate({
            errorClass : "text-danger",
            rules :{
                NameVariant : {
                    required : true
                }
            },
            messages:{
                NameVariant:"Please enter a Variant Name"
            },
            submitHandler: function(form){
                var data = $(form).serialize();

                $.ajax({
                    url: "/Variant/Create",
                    method : "post",
                    data : data,
                    dataType : "json",
                    success : function(respon){
                        debugger
                        if(respon.status == "success"){
                            alert(respon.data.message)
                            $("#myModal").modal('hide')
                            window.location.reload()
                        }
                        else{
                            alert("Unsuccess : " + respon.data.messagae)
                        }

                    }
                })

            }
        })
    })
</script>