﻿@{
    Layout = null;
}
@model TokoSaya.ViewModels.VMVariants

<p>Are you sure for delete data @Model.NameVariant ?</p>

<form asp-action="Delete" method="post" id="form-validate">
    <div class="mb-3">
        <input type="hidden" name="IdVariant" value="@Model.IdVariant" />
    </div>

  <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>

$(function(){
        $("#form-validate").validate({
            submitHandler: function(form){
                var data = $(form).serialize();

                $.ajax({
                    url: "/Variant/Delete",
                    method : "post",
                    data : data,
                    dataType : "json",
                    success : function(respon){
                        debugger
                        if(respon.status == "success"){
                            alert(respon.data.message)
                            $("#myModal").modal('hide')
                            window.location.reload()
                        }
                        else{
                            alert("Unsuccess : " + respon.data.messagae)
                        }

                    }
                })

            }
        })
    })

</script>