﻿@{
    Layout = null;
}

@model TokoSaya.ViewModels.VMVariants
<div class="mb-3">
    <label class="col-form-label">Name Variant : </label>
    <label class="form-label">@Model.NameVariant</label>
</div>
<div class="mb-3">
    <label class="col-form-label">Name Category : </label>
    <label class="form-label">@Model.IdCategoryNavigation.NameCategory</label>
</div>
<div class="mb-3">
    <label class="col-form-label">Description : </label>
    <label class="form-label">@Model.Description</label>
</div>

<div class="modal-footer">
    <a class="btn btn-light" asp-action="Index">Back to list</a>

</div>