﻿@{
    Layout = null;
}
@model TokoSaya.ViewModels.VMVariants

<form asp-action="Edit" method="post" id="form-validate">
    <input type="hidden" name="IdVariant" value="@Model.IdVariant" />
    <div class="mb-3">
        <label for="NameVariant" class="form-label">Name Variant</label>
        <input class="form-control" id="NameVariant" asp-for="NameVariant" />
    </div>
     <div class="mb-3">
        <label for="Description" class="form-label">Category</label>
        @*<input class="form-control" id="IdCategory" asp-for="IdCategory" />*@
          @Html.DropDownList("IdCategory", 
            new SelectList(ViewBag.ListCategory, "IdCategory", "NameCategory"), 
            new { id = "IdCategory", @class = "form-control" })
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input class="form-control" id="Description" asp-for="Description" />
    </div>
    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function(){
        $("#form-validate").validate({
            errorClass : "text-danger",
            rules :{
                NameVariant : {
                    required : true
                }
            },
            messages:{
                NameVariant:"Please enter a Variant Name"
            },
            submitHandler: function(form){
                var data = $(form).serialize()

                $.ajax({
                    url:"/Variant/Edit",
                    method : "post",
                    data : data,
                    dataType : "json",
                    success : function(respon){
                        if(respon.status == "success"){
                            alert(respon.data.message)
                            $("#myModal").modal("hide")
                            window.location.reload()
                        }
                        else{
                            alert("Error :" + respon.data.message)

                        }
                    }
                })
            }
        })
    })
</script>