﻿@using Microsoft.AspNetCore.Http
@{
    var IdRole = Context.Session.GetInt32("IdRole");
}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Home"
                       aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                @if (IdRole == 1)
                {
                    <li class="nav-small-cap"><span class="hide-menu">Master</span></li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="Category"
                           aria-expanded="false">
                            <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                Category
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Variant"
                           aria-expanded="false">
                            <i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">
                                Variant
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Product"
                           aria-expanded="false">
                            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">
                                Product
                            </span>
                        </a>
                    </li>
                }
                @if (IdRole == 1 || IdRole == 2)
                {
                    <li class="list-divider"></li>
                    <li class="nav-small-cap"><span class="hide-menu">Transaction</span></li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="Catalog"
                           aria-expanded="false">
                            <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                Catalog
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="History" asp-controller="Catalog"
                           aria-expanded="false">
                            <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                History
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->