﻿@model List<TokoSaya.ViewModels.VMOrderHeaders>
@{ Layout = null;
    TokoSaya.ViewModels.VMOrderHeaders data = ViewBag.DataObj;
}
<div class="row align-items-center">
    <div class="col-2">
        <div class="form-group">
            <b class="logo-icon">
                <!-- Dark Logo icon -->
                <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
            </b>
        </div>
    </div>
    <div class="col-10">

        <div class="form-group">
            <h2>TokoSaya</h2>
        </div>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            Code Transaction
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @data.CodeTransaction
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            Date
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @data.CreateDate?.ToString("dd MMM yyyy")
        </div>
    </div>
</div>

<br>
<table class="table table-striped">
    <thead class="bold">
        <tr>
            <td>Name Product</td>
            <td>Price</td>
            <td>Qty</td>
            <td>Sum Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProductNavigation.NameProduct</td>
                <td>@string.Format("{0:0,0.00}", @item.IdProductNavigation.Price)</td>
                <td>@item.IdDetailNavigation.Quantity</td>
                <td>@string.Format("{0:0,0.00}", @item.IdDetailNavigation.SumPrice)</td>
            </tr>
        }
        <tr class="bg-info text-white bold">
            <td colspan="3">Total</td>
            <td>@string.Format("{0:0,0.00}", data.Amount)</td>
        </tr>
    </tbody>

</table>
