﻿@model List<TokoSaya.ViewModels.VMOrderHeaders>
<table class="table table-hover">
    <thead class="bold">
        <tr>
            <td>Date Order</td>
            <td>Code Transaction</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CreateDate?.ToString("dd MMM yyyy")</td>
                <td>@item.CodeTransaction</td>
                <td>@string.Format("{0:0,0.00}", @item.Amount)</td>
                <td>
                    <button class="btn btn-outline-primary btn_detail" data-id="@item.IdHeader">
                        Detail
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>

<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(".btn_detail").click(function () {
        var id = $(this).attr("data-id");

        $("#modal_header").removeClass("del")

        $("#myModalLabel").empty();
        $("#myModalLabel").text("Detail Order");
        $("#modal_body").empty();
        $("#modal_body").load("/Catalog/Detail?id=" + id);
        $("#myModal").modal("show");
    })
</script>
