﻿@model List<TokoSaya.ViewModels.VMProducts>
<div class="card">
    <div class="card-body">
        <div class="row">
            <!-- Column -->
            <div class="col-md-4 col-lg-4 col-xlg-4">
                <div class="card card-hover">
                    <div class="p-2 bg-primary text-center">
                        <h1 class="font-light text-white" id="total_item">@ViewBag.TotalProduct</h1>
                        <h6 class="text-white">Total Item</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 col-lg-4 col-xlg-4">
                <div class="card card-hover">
                    <div class="p-2 bg-success text-center">
                        <h1 class="font-light text-white" id="estimate">@ViewBag.EstimatePrice</h1>
                        <h1 class="font-light text-white" style="display:none" id="estimate1">@ViewBag.EstimatePrice</h1>
                        <h6 class="text-white">Estimate Price</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 col-lg-4 col-xlg-4">
                <div class="card card-hover" id="btn_cart">
                    <div class="p-2 bg-danger text-center">
                        <h1 class="font-light text-white">
                            <i class="fas fa-shopping-cart"></i>
                        </h1>

                        <h6 class="text-white">Add To Cart</h6>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
            @{ int i = 0;
                @foreach (TokoSaya.ViewModels.VMCategory item in ViewBag.CategoryList)
                {
                    var activeTab = i == 0 ? "active" : "";

                    <li class="nav-item">
                        <a href="#tab_@item.IdCategory" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 @activeTab">
                            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                            <span class="d-none d-lg-block">@item.NameCategory</span>
                        </a>
                    </li>

                    i++;
                }
            }
        </ul>
        <div class="tab-content">

            @{int k = 0;
                @foreach (TokoSaya.ViewModels.VMCategory cat in ViewBag.CategoryList)
                {

                    var active = k == 0 ? "active" : "";

                    <div class="tab-pane @active" id="tab_@cat.IdCategory">

                        <div class="row">
                            @foreach (var item in Model.Where(a => a.IdCategoryNavigation.IdCategory == @cat.IdCategory))
                            {
                                <div class="col-lg-3 col-md-6">
                                    <div class="card">
                                        <img class="img-responsive" src="~/images/@item.Image" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" id="name_@item.IdProduct">@item.NameProduct</h5>
                                            <label class="text-sm-left italic">stock : <span id="stock_@item.IdProduct">@item.Stock </span></label>
                                            <label style="display:none" id="stockHide_@item.IdProduct">@item.Stock</label>
                                            <p class="card-text">
                                                @string.Format("{0:0,0.00}", @item.Price)
                                            </p>
                                            <p style="display:none" id="price_@item.IdProduct">@item.Price</p>
                                            <p class="card-text">
                                                @item.IdCategoryNavigation.NameCategory / @item.IdVariantNavigation.NameVariant
                                            </p>
                                            <div class="row">
                                                @if (item.Stock > 0)
                                                {
                                                    <button data-id="@item.IdProduct" data-dt="@item" class="btn btn-primary text-center col-4 btn_min ">-</button>
                                                    <label id="lbl_@item.IdProduct" class="count text-center col-4">0</label>
                                                    <button data-id="@item.IdProduct" data-dt="@item" id="plus_@item.IdProduct" class="btn btn-primary text-center col-4 btn_plus">+</button>
                                                }
                                                else
                                                {
                                                    <label class="text-danger text-center col-12">Sold</label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    k++;
                }
            }

            @*@{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="modal-footer">
                    <p>Page @Model.PageIndex of @Model.TotalPages </p>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @prevDisabled"
                       id="btn_prev">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @nextDisabled"
                       id="btn_next">
                        Next
                    </a>
                </div>*@
        </div>
    </div>
</div>

<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var total = $("#total_item").text()
    var estimate = $("#estimate").text();
    var listCart = []
    var obj = {}

    $(document).ready(function () {
        var href = $('#btn_next').attr('href')
        $("#btn_next").click(function () {
            var tp = 'totalProduct=' + total;
            var ep = 'estimatePrice=' + estimate;
            var newhref = href + "&" + tp + "&" + ep;

            $("#btn_next").attr("href", newhref);
            alert($('#btn_next').attr('href'))
        })

        $("#btn_prev").click(function () {
            var tp = 'totalProduct=' + total;
            var ep = 'estimatePrice=' + estimate;
            var newhref = href + "&" + tp + "&" + ep;

            $("#btn_next").attr("href", newhref);
            alert($('#btn_next').attr('href'))
        })
    });


    $(".btn_plus").click(function () {
        obj = {}

        var id = $(this).attr("data-id")

        var ttl = $("#total_item").text()
        var est = $("#estimate1").text();

        var nameProduct = $("#name_" + id).text();
        var price = $("#price_" + id).text();
        var t_prod = $("#lbl_" + id).text()
        var est_prod = $("#price_" + id).text()
        var stock = $("#stock_" + id).text()

        if (parseInt(stock) > 0) {
            total = parseInt(ttl) + 1
            t_prod = parseInt(t_prod) + 1
            estimate = parseInt(est_prod) + parseInt(est)
            stock = parseInt(stock) - 1

            obj.IdProduct = id
            obj.NameProduct = nameProduct
            obj.Price = parseInt(price)
            obj.Qty = t_prod
            obj.SumPrice = parseInt(price) * parseInt(t_prod)

            var index = listCart.findIndex(a => a.IdProduct == id)
            if (index == -1) {
                listCart.push(obj)
            }
            else {
                listCart[index].Qty = obj.Qty
                listCart[index].SumPrice = obj.SumPrice
            }
            console.log(listCart)
        }
        else {
            $("#plus_" + id).addClass("disabled")
        }

        $("#total_item").text(total)
        $("#lbl_" + id).text(t_prod)
        $("#stock_" + id).text(stock)
        $("#estimate").text(estimate.toLocaleString("id-ID"))
        $("#estimate1").text(estimate)



    })

    $(".btn_min").click(function () {
        data = {}

        var ttl = $("#total_item").text()
        var est = $("#estimate1").text();

        var id = $(this).attr("data-id")
        var t_prod = $("#lbl_" + id).text()
        var est_prod = $("#price_" + id).text()
        var stock = $("#stock_" + id).text()
        var stockHide = $("#stockHide_" + id).text();
        $("#plus_" + id).removeClass("disabled")

        if (parseInt(t_prod) > 0) {
            total = parseInt(ttl) - 1
            t_prod = parseInt(t_prod) - 1
            estimate = parseInt(est) - parseInt(est_prod)
            if (stock != stockHide) {
                stock = parseInt(stock) + 1
            }
            var index = listCart.findIndex(a => a.IdProduct == id)

            if (index != -1) {
                listCart[index].Qty = t_prod
                listCart[index].SumPrice = listCart[index].Price * parseInt(t_prod)
            }

            if (parseInt(t_prod) == 0) {
                listCart.splice(index, 1)
            }
        }
        $("#total_item").text(total)
        $("#lbl_" + id).text(t_prod)
        $("#estimate").text(estimate.toLocaleString("id-ID"))
        $("#estimate1").text(estimate)
        $("#stock_" + id).text(stock)


        console.log(listCart)

    })

    $("#btn_cart").click(function () {

        $.ajax({
            url: '/Catalog/OrderPreview',
            type: "POST",
            data: { list: listCart, TotalProduct: total, Estimate: estimate },
            success: function (respon) {

                $("#myModalLabel").empty();
                $("#myModalLabel").text("Order Preview");
                $("#modal_body").empty();
                $("#modal_body").append(respon)

                $("#myModal").modal("show");
            }
        })

    })
</script>
