﻿@model List<TokoSaya.ViewModels.VMProducts>
@{
    Layout = null;
}
<table class="table table-hover">
    <thead class="bold">
        <tr>
            <td>Name Product</td>
            <td>Price</td>
            <td>Qty</td>
            <td>Sum Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NameProduct</td>
                <td>@string.Format("{0:0,0.00}", @item.Price)</td>
                <td>@item.Qty</td>
                <td>@string.Format("{0:0,0.00}", @item.SumPrice)</td>
            </tr>
        }
        <tr class="bg-info text-white bold">
            <td colspan="2">Total</td>
            <td>@ViewBag.TotalProduct</td>
            <td>@string.Format("{0:0,0.00}", @ViewBag.Estimate)</td>
        </tr>
    </tbody>
    
</table>

<div class="modal-footer">
    <button id="btn_order" class="btn btn-primary">Order</button>
</div>

<script>
     var list = @Json.Serialize(Model);

    $("#btn_order").click(function () {
        console.log(list)
        $.ajax({
            url: '/Catalog/FixOrder',
            type: "POST",
            data: { list: list, TotalProduct: total, Estimate: estimate },
            dataType:"json",
            success: function (respon) {
                if (respon.status == "success") {
                    alert(respon.data.message)
                    $("#myModal").modal("hide");
                    window.location.reload()
                }
                else {
                    alert("Unsuccess : " + respon.data.messagae)
                }
            }
        })
    })
</script>