﻿@model TokoSaya.Web.Models.Friend

<h2>@ViewBag.message</h2>

<table class="table">
    <thead>
        <tr>
            @for (var i = 1; i <= ViewBag.DataColor.Length; i++)
            {
                <td>color @i</td>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.DataColor)
            {
                <td>Color @item </td>
            }
        </tr>
    </tbody>
</table>

<p>@Model.id</p>
<p>@Model.name</p>
<p>@Model.address</p>

<h2>Data from return View</h2>
<table class=table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in  ViewBag.listFriend)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.address</td>
            </tr>
        }
    </tbody>
</table>