﻿@{
    Layout = null;
}

<form asp-action="Create" method="post" id="form-validate">
    <div class="mb-3">
        <label for="NameCategory" class="form-label">Name Category</label>
        <input class="form-control" id="NameCategory" name="NameCategory" />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input class="form-control" id="Description" name="Description" />
    </div>

    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function(){
        $("#form-validate").validate({
            errorClass : "text-danger",
            rules :{
                NameCategory : {
                    required : true
                }
            },
            messages:{
                NameCategory:"Please enter a Category Name"
            },
            submitHandler: function(form){
                var data = $(form).serialize();

                $.ajax({
                    url: "/Category/Create",
                    method : "post",
                    data : data,
                    dataType : "json",
                    success : function(respon){
                        debugger
                        if(respon.status == "success"){
                            alert(respon.data.message)
                            $("#myModal").modal('hide')
                            window.location.reload()
                        }
                        else{
                            alert("Unsuccess : " + respon.data.messagae)
                        }

                    }
                })

            }
        })
    })
</script>