﻿@{
    Layout = null;
}
@model TokoSaya.ViewModels.VMCategory

<form asp-action="Edit" method="post" id="form-validate">
    <input type="hidden" name="IdCategory" value="@Model.IdCategory" />
    <div class="mb-3">
        <label for="NameCategory" class="form-label">Name Category</label>
        <input class="form-control" id="NameCategory" asp-for="NameCategory" />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input class="form-control" id="Description" asp-for="Description" />
    </div>
    <div class="modal-footer">
        <a asp-action="Index" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    $(function(){
        $("#form-validate").validate({
            errorClass : "text-danger",
            rules :{
                NameCategory : {
                    required : true
                }
            },
            messages:{
                NameCategory:"Please enter a Category Name"
            },
            submitHandler: function(form){
                var data = $(form).serialize()

                $.ajax({
                    url:"/Category/Edit",
                    method : "post",
                    data : data,
                    dataType : "json",
                    success : function(respon){
                        if(respon.status == "success"){
                            alert(respon.data.message)
                            $("#myModal").modal("hide")
                            window.location.reload()
                        }
                        else{
                            alert("Error :" + respon.data.message)

                        }
                    }
                })
            }
        })
    })
</script>